[Desktop Entry]
Name=GNOME with Valgrind for checking for memory errors
Comment=This session logs you into GNOME with Valgrind to check for memory errors
Exec=/usr/bin/gnome-session --session=gnome-valgrind
TryExec=/usr/bin/gnome-session
Icon=
Type=Application
DesktopNames=GNOME
